* {
  text-transform: capitalize;
  scrollbar-width: none;
  overflow-y: scroll;
}

body {
  display: flex;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  min-height: 75vh;
  display: flex;
  overflow: hidden;
}

/* .outLineArea {
  background-color: aqua;
  height: 500px;
} */

.container {
  /* scroll-behavior: smooth; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  padding: 50px 100px 50px 10px;
  margin-left: 0px;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 5vh;
  /* max-height: 75vh; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition-duration: 0.25s;
}
.userInfo {
  display: none;
  /* this is needed for toggle */
  padding-left: 50px;
  /* background-color: darkgray; */
}

.gameTitle {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

.userGuessEnterField,
.userNameEnterField {
  width: 285px;
  height: 45px;
  margin: 20px 0px 20px 0px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 20px;
  text-align: end;
}

.howToPlayBtn,
.nameEnterBtn,
.playGameBtn,
.tryAgainBtn,
.submitUserGuessBtn {
  letter-spacing: 0.5px;
  border-radius: 15px;
  font-size: medium;
  outline: none;
  border: none;
  height: 45px;
  width: 150px;
}

.howToPlayBtn:hover,
.nameEnterBtn:hover,
.playGameBtn:hover,
.tryAgainBtn:hover,
.submitUserGuessBtn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.howToPlay {
  /* display: none; */
  /* background-color: rgba(254, 254, 254, 0.055);
  border: 1px solid transparent white; */
}

.gameInfo {
  padding: 25px 50px 0px 15px;
  text-align: justify;
  text-wrap: balance;
}
li {
  font-size: 17px;
  color: white;
}

.playGameBtn {
  display: flex;
  /* margin-left: 50px; */
  justify-content: center;
  align-items: center;
  transform: translateX(25px);
}

.gameDisplay {
  display: none;
  background-color: rgb(148, 145, 133);
  padding: 20px;
}

.userInfoShowField {
  background-color: chocolate;
}
.gameStatusDisplayArea {
  background-color: darkcyan;
}

.showNameOnGame {
  /* padding-left: 10px; */
}

.showChancesOnGame {
  float: right;
  /* padding: 0px 10px 0px 10px; */
}

.chancesCountOnGame {
}

.userGameControls {
  background-color: darkolivegreen;
}

.userGuessEnterField {
}

.submitUserGuessBtn {
}

.tryAgainBtn {
}
