* {
  text-transform: capitalize;
  scrollbar-width: none;
  overflow-y: scroll;
}

body {
  display: flex;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: auto;
  align-items: center;
  min-height: 100vh;
  display: flex;
  overflow: hidden;
}

/* .outLineArea {
  background-color: aqua;
  height: 500px;
} */

.container {
  /* scroll-behavior: smooth; */
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  padding: 50px 100px 50px 10px;
  margin-left: 0px;
  display: flex;
  justify-content: center; /* Horizontal alignment */
  align-items: center;
  min-width: 50vw;
  max-width: 50vw;
  min-height: 5vh;
  /* max-height: 75vh; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  transition-duration: 0.25s;
}

/* dgjdfhjtdhkjshgkjfghkdjfghdkjfghkdfjhgkdjfhgdkfjhgkjdhdghfghy */
#userInfo {
  display: none;
  /* this is needed for toggle */
  padding-left: 50px;
  /* background-color: darkgray; */
}

.gameTitle {
  font-size: 25px;
  color: white;
  font-weight: bold;
}

#userGuessEnterField,
.userNameEnterField {
  /* min-width: 285px; */
  width: min-content;
  /* display: flex;
  justify-items: center;
  justify-content: center; */
  height: 45px;
  margin: 20px 0px 10px 0px;
  border: none;
  outline: none;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 15px;
  font-size: 20px;
  text-align: end;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfoBtns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.howToPlayBtn,
.nameEnterBtn,
.playGameBtn,
.tryAgainBtn,
.submitUserGuessBtn {
  letter-spacing: 0.5px;
  border-radius: 15px;
  font-size: medium;
  outline: none;
  border: none;
  height: 45px;
  width: 150px;
  margin-bottom: 10px;
  background: none;
  color: white;
  text-wrap: nowrap;
}

.howToPlayBtn:hover,
.nameEnterBtn:hover,
.playGameBtn:hover,
.tryAgainBtn:hover,
.submitUserGuessBtn:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

/* dgjdfhjtdhkjshgkjfghkdjfghdkjfghkdfjhgkdjfhgdkfjhgkjdhdghfghy */
#howToPlay {
  /* display: none; */
  /* background-color: rgba(254, 254, 254, 0.055);
  border: 1px solid transparent white; */
}

/* .gameInfo {
  max-width: 10px;
  display: flex;
  position: relative;
  padding: 25px 50px 0px 15px;
  text-align: justify;
  text-wrap: balance;
} */

ul {
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

li {
  max-width: 500px;
  font-size: 17px;
  color: white;
}

.playGameBtn {
  display: flex;
  font-size: 25px;
  /* margin-left: 50px; */
  justify-content: center;
  align-items: center;
  transform: translateX(30px);
  border: 1px solid white;
}

/* dgjdfhjtdhkjshgkjfghkdjfghdkjfghkdfjhgkdjfhgdkfjhgkjdhdghfghy */
#gameDisplay {
  color: white;
  /* background-color: rgb(148, 145, 133); */
  padding: 20px;
}

.userInfoShowField {
  /* background-color: chocolate; */
}

.gameStatusDisplayArea {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  align-items: center;
  justify-content: center;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  font-size: 40px;
  transform: 0.5s;
  transition-duration: 0.5s;
}

/* .showNameOnGame {
  float: left;
} */

.showChancesOnGame {
  float: right;
  /* padding: 0px 10px 0px 10px; */
}

.chancesCountOnGame {
}

.nameInputDiv {
  display: flex;
  justify-content: center;
}

.userGameControls {
  /* background-color: darkolivegreen; */
  display: flex;
  justify-content: center;
}

#userGuessEnterField {
  text-align: center;
}

.controlBtnsArea {
  /* background-color: aquamarine; */
  display: flex;
  /* position: absolute; */
  justify-content: center;
  align-items: center;
}

.submitUserGuessBtn,
.tryAgainBtn {
  /* display: flex; */
  /* justify-content: center; */
  /* max-width: 150px; */
  align-items: center;
  margin-bottom: 10px;
  background: none;
  color: white;
  font-size: 20px;
}

.tryAgainBtn {
}
